@import "tailwindcss";

:root {
    --primary-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
    --brand-font: "Playfair", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RootLayout */
main {
    padding-block: 2rem;
}

/* Home Page */
.home-page {
    margin-block-start: 4rem;
}

/* Banner */
.banner-page h2 {
    margin-bottom: 0.8rem;
}

.backdrop-image {
    padding: 1rem;
}

/* Moviecase */
.popular-movies,
.popular-shows {
    padding-left: 1rem;
    margin-block: 0.5rem;
    font-family: var(--body-font);
}

.movie-case h5,
.show-case h5 {
    text-align: center;
    font-family: var(--body-font);
}

/* TV Shows */
.shows-page {
    margin-block-start: 4rem;

}

/* Movie Card */
.movie-card {
    margin-block-start: 4rem;
    padding: 1rem;

}

/* TV Show Card */
.tv_show-card {
    margin-block-start: 4rem;
}

/* Search Box */
.search-box {
    width: 50rem;
}